body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0px 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}

#friends-wrapper {
  position: fixed;
  right: 0px;
  overflow: scroll;
  width: 250px;
  padding: 0px;
  box-shadow: 1px 0 0 #f0f0f2 inset;
  background-color: #e9eaed;
  border-left: 1px solid #ccc;
  height: 100%;
  padding-top: 60px;
}

#new-friend {
  padding: 5px 10px;
}
#new-friend input {
  padding: 5px;
}

ul.firends-list {
  padding: 0;
  margin: 0;
}
ul.friends-list  {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.friends-list li {
  padding: 5px 10px;
  margin: 0;
}
ul.friends-list li span {
  padding-left: 20px;
}
ul.friends-list li:hover {
  padding: 4px 10px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

ul.friends-list li .friend-delete {
  float: right;
}

#profile-wrapper {
  padding: 0;
  margin: 0;
  height: 100%;
}
.profile {
  padding: 20px;
  height: 100%;
}
.avatar {
  text-align: center;
}
.avatar img {
  width: 200px;
}
